@import "tailwindcss";

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-Extrabold";
  src: url("/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Jost-VariableFont_wght";
  src: url("/fonts/Jost-VariableFont_wght.ttf");
}

@font-face {
  font-family: "AbrilFatface-Reguler";
  src: url("/fonts/AbrilFatface-Reguler.ttf");
}

@theme {
  --font-barlow: "Barlow", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-poppins-extrabold: "Poppins-ExtraBold", sans-serif;
  --font-jost-variablefont: "Jost-VariableFont_wght", sans-serif;
  --font-fat: "AbrilFatface-Reguler, sans-serif"

  --color-latar: #f3f4f6;
  --color-teks: #374151;
  --color-teks-samping: #6b7280;
  --color-garis: #e5e7eb;
  --color-hijau: #00b074;
  --color-merah: #ef4444;
  --color-biru: #3b82f6;
  --color-kuning: #f59e0b;
}
